.home-title {
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-size: 50px;
}

.home-list {
    text-align: center;
    list-style-type: none;
    padding: 0px;
    font-size: 25px;
    font-family: verdana;
}

