.home-title {
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-size: 50px;
}

.home-list {
    text-align: center;
    list-style-type: none;
    padding: 0px;
    font-size: 25px;
    font-family: verdana;
}

.avocado-toast {
    text-align: center;
    font-family: Georgia;
    margin-bottom: 0;
    color: rgb(52, 121, 52);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headings {
    text-align: center;
    font-family: Georgia;
}

#description {
    margin-top: 0;
}

p {
    text-align: center;
    font-family: georgia;
}

ul,
ol {
    padding-left: 15%;
}